.login-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0b0f19; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Segoe UI';

}

.login-card {
  background: #111827;
  padding: 3rem;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 420px;
  border: 2px solid #1e40af; 
  box-shadow: 0 0 25px rgba(37, 99, 235, 0.2); 
  text-align: center;
}

.login-title {
  color: #3b82f6;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-subtitle {
  color: #94a3b8;
  font-size: 0.9rem;
  margin-bottom: 2.5rem;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-label {
  display: block;
  color: #cbd5e1;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.login-input {
  width: 100%;
  padding: 0.85rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #334155;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s;
}

.login-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15);
}

.login-button {
  width: 100%;
  padding: 1rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-top: 1rem;
}

.login-button:hover {
  background: #3b82f6;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
  transform: translateY(-2px);
}

.forgot-link {
  display: block;
  margin-top: 1.5rem;
  color: #64748b;
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-link:hover {
  color: #3b82f6;
}


.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper .login-input {
  padding-right: 3rem;
}

.eye-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #94a3b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.eye-button:hover {
  color: #3b82f6;
}